@import "mixins";
@import "reset";
@import "parts";
.container{
    @include container();
}

.orange{
    background-color: orange;
    @media (min-width:1px) and (max-width:575px){
    height:50px;
    }
    @media (min-width:576px) and (max-width:767px){
        height:50px;
    }
    @media (min-width:768px){
        height:50px;  
    }
    @media (min-width:992px){
        height:100px;
        border-bottom:6px solid white;
    }
}
.yellow{
    background-color: yellow;
    @media (min-width:1px) and (max-width:575px){
    height:90px;
    }
    @media (min-width:576px) and (max-width:767px) {
        height:90px;
    }
    @media (min-width:768px) and (max-width:991px){
        height:230px;
    }
    @media (min-width:992px){
        height:250px;
        border-top:6px solid white;
        border-bottom:6px solid white;
    }
}
.blue{
    background-color: blue;
    @media (min-width:1px) and (max-width:575px){
    height:150px;
    }
    @media (min-width:576px) and (max-width:767px){
        height:150px;
    }
    @media (min-width:768px) and (max-width:991px){
        height:80px;
    }
    @media (min-width:992px){
        height:200px;
        border-top:6px solid white;
        border-bottom:6px solid white;
    }
}
.grey{
    background-color: grey;
    @media (min-width:1px) and (max-width:575px){
    height:50px;
    border:grey;
    }
    @media (min-width:576px) and (max-width:767px){
        height:100px;
        border:grey;
          
    }
    @media (min-width:768px) and (max-width:991px){
        height:80px;
    }
    @media (min-width:992px){
        height:110px;
        border-top:6px solid white;
        border-bottom:15px solid white;
    }
}
